<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="../mb739/css/base.css">
    <link rel="stylesheet" href="../mb739/css/vendor.css">
    <link rel="stylesheet" href="../mb739/css/main.css">
    <link rel="stylesheet" href="../element-ui/index.css">

    <!-- script
    ================================================== -->
    <script src="../mb739/js/modernizr.js"></script>
    <script src="../mb739/js/pace.min.js"></script>

    <!-- favicons
     ================================================== -->
    <link rel="shortcut icon" href="../mb739/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../mb739/favicon.ico" type="image/x-icon">


</head>

<body id="top">

<!-- header
================================================== -->
<header class="short-header">

    <div class="gradient-block"></div>

    <div class="row header-content">

        <div class="logo">
            <a href="../index.html">Author</a>
        </div>

        <div th:replace="commons/navBar::navBar(activeUri='personIndex')"></div>

        <div class="search-wrap">

            <form role="search" method="get" class="search-form" action="#">
                <label>
                    <span class="hide-content">Search for:</span>
                    <input type="search" class="search-field" placeholder="Type Your Keywords" value="" name="s"
                           title="Search for:" autocomplete="off">
                </label>
                <input type="submit" class="search-submit" value="Search">
            </form>

            <a href="#" id="close-search" class="close-btn">Close</a>

        </div> <!-- end search wrap -->

        <div class="triggers">
            <a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
            <a class="menu-toggle" href="#"><span>Menu</span></a>
        </div> <!-- end triggers -->

    </div>

</header> <!-- end header -->


<!-- masonry
================================================== -->

<section id="bricks">

        <div class="row masonry">

            <!-- brick-wrapper -->
            <div id="articleRefresh" class="bricks-wrapper" th:fragment="article_refresh">
                <div id="lvYou" class="grid-sizer"></div>
                <article  class="brick entry format-standard animate-this" th:each="list:${lists}">
                    <div class="entry-thumb">
                        <a href="#" class="thumb-link">
                            <img th:src="${list.img}" src="../mb739/images/thumbs/diagonal-building.jpg" alt="building">
                        </a>
                    </div>
                    <div class="entry-text">
                        <div class="entry-header">
                            <div class="entry-meta">
               			<span class="cat-links">
               				<a href="#" th:text="${list.notes}">Design</a>
               			</span>
                        <div class="cat-links">
               				<a href="#" th:text="'创建时间：'+${list.createTime}">Design</a>
               			</div>
                            </div>
                            <h1 class="entry-title" th:text="${list.title}">Just a Standard Format Post.</h1>
                        </div>
                        <div id="lyDiv0" class="entry-excerpt" th:text="${list.content}">
                            Text
                        </div>
                    </div>
                </article>

            </div> <!-- end brick-wrapper -->

        </div> <!-- end row -->

        <div class="row">

            <nav class="pagination">
                <a th:href="@{'/person/'+${lastPage}}" th:class="${currentPage == lastPage?'page-numbers prev inactive':'page-numbers prev'}" th:value="${lastPage}">Prev</a>
                <a th:href="@{'/person/'+${sumPage}}" th:class="${sumPage == currentPage?'page-numbers current':'page-numbers'}" th:each="sumPage:${sumPages}" th:text="${sumPage}" th:if="${sumPage!=0}">1</a>
                <a th:href="@{'/person/'+${nextPage}}" th:class="${currentPage == nextPage?'page-numbers next inactive':'page-numbers next'}" th:value="${nextPage}">Next</a>
            </nav>

        </div>

    </section> <!-- end bricks -->


<!-- footer
================================================== -->
<footer>
    <div class="footer-main">

        <div class="row">

            <div class="col-four tab-full mob-full footer-info">

                <h4>About Our Site</h4>

                <p>
                    Lorem ipsum Ut velit dolor Ut labore id fugiat in ut fugiat nostrud qui in dolore commodo eu magna
                    Duis cillum dolor officia esse mollit proident Excepteur exercitation nulla. Lorem ipsum In
                    reprehenderit commodo aliqua irure labore.
                </p>

            </div> <!-- end footer-info -->

            <div class="col-two tab-1-3 mob-1-2 site-links">

                <h4>Site Links</h4>

                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>

            </div> <!-- end site-links -->

            <div class="col-two tab-1-3 mob-1-2 social-links">

                <h4>Social</h4>

                <ul>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Dribbble</a></li>
                    <li><a href="#">Google+</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>

            </div> <!-- end social links -->

            <div class="col-four tab-1-3 mob-full footer-subscribe">

                <h4>Subscribe</h4>

                <p>Keep yourself updated. Subscribe to our newsletter.</p>

                <div class="subscribe-form">

                    <form id="mc-form" class="group" novalidate="true">

                        <input type="email" value="" name="dEmail" class="email" id="mc-email"
                               placeholder="Type &amp; press enter" required="">

                        <input type="submit" name="subscribe">

                        <label for="mc-email" class="subscribe-message"></label>

                    </form>

                </div>

            </div> <!-- end subscribe -->

        </div> <!-- end row -->

    </div> <!-- end footer-main -->

    <div class="footer-bottom">
        <div class="row">

            <div class="col-twelve">
                <div class="copyright">
                    <span>Copyright &copy; 2017.Company name All rights reserved.</span>
                </div>

                <div id="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
                </div>
            </div>

        </div>
    </div> <!-- end footer-bottom -->

</footer>

<div id="preloader">
    <div id="loader"></div>
</div>
<!-- Java Script
================================================== -->
<script src="../mb739/js/jquery-2.1.3.min.js"></script>
<script src="../mb739/js/plugins.js"></script>
<!--	<script src="../mb739/js/jquery.appear.js"></script>-->
<script src="../mb739/js/pace.min.js"></script>
<script src="../mb739/js/modernizr.js"></script>
<script src="../mb739/js/main.js"></script>
<!--vue + element-->
<script src="../vue/vue.js"></script>
<script src="../element-ui/index.js"></script>
<script src="../axios/axios.min.js"></script>
<!--jquery-->
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

</body>

</html>