<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="../mb739/css/base.css">
    <link rel="stylesheet" href="../mb739/css/vendor.css">
    <link rel="stylesheet" href="../mb739/css/main.css">
    <link rel="stylesheet" href="../element-ui/index.css">

    <!-- script
    ================================================== -->
    <script src="../mb739/js/modernizr.js"></script>
    <script src="../mb739/js/pace.min.js"></script>

    <!-- favicons
     ================================================== -->
    <link rel="shortcut icon" href="../mb739/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../mb739/favicon.ico" type="image/x-icon">


</head>

<body id="top">

<!-- header
================================================== -->
<header class="short-header">

    <div class="gradient-block"></div>

    <div class="row header-content">

        <div class="logo">
            <a href="../index.html">Author</a>
        </div>

        <div th:replace="commons/navBar::navBar(activeUri='personSchedule')"></div>

        <div class="search-wrap">

            <form role="search" method="get" class="search-form" action="#">
                <label>
                    <span class="hide-content">Search for:</span>
                    <input type="search" class="search-field" placeholder="Type Your Keywords" value="" name="s"
                           title="Search for:" autocomplete="off">
                </label>
                <input type="submit" class="search-submit" value="Search">
            </form>

            <a href="#" id="close-search" class="close-btn">Close</a>

        </div> <!-- end search wrap -->

        <div class="triggers">
            <a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
            <a class="menu-toggle" href="#"><span>Menu</span></a>
        </div> <!-- end triggers -->

    </div>

</header> <!-- end header -->


<!-- masonry
================================================== -->
<section id="bricks">

    <div class="row masonry">

        <div id="app">
            <el-row>
                <el-col :span="2">
                    <div>
<!--                        <el-divider></el-divider>-->
<!--                        <el-button type="text" size="small" style="color: green " @click="dialogAdd=true">写日记</el-button>-->
<!--                        <el-divider></el-divider>-->
<!--                        <el-button type="text" size="small" style="color: #00b19d" @click="toggleSelection()">取消选中</el-button>-->
<!--                        <el-divider></el-divider>-->
<!--                        <el-button type="text" size="small" style="color: red" @click="deleteSelect()">删除选中</el-button>-->
                    </div>
                </el-col>
                <el-col :span="22">
                    <el-calendar>
                        <!-- 这里使用的是 2.5 slot 语法，对于新项目请使用 2.6 slot 语法-->
                        <template
                                slot="dateCell"
                                slot-scope="{date, data}">
                            <p :class="data.isSelected ? 'is-selected' : ''" @click="show(data.day)" type="text">
                                    {{ data.day.split('-').slice(1).join('-') }} {{ data.isSelected ? '✔️' : ''}}
                            </p>
                        </template>
                    </el-calendar>
                </el-col>
            </el-row>

            <el-dialog title="时间表" :visible.sync="dialogTableVisible">
                <el-table :data="gridData">
                    <el-table-column property="time" label="日期" width="150"></el-table-column>
                    <el-table-column property="content" label="内容" width="200"></el-table-column>
                    <el-table-column property="createTime" label="创建时间"></el-table-column>
                </el-table>
            </el-dialog>
        </div>


    </div> <!-- end row -->

</section> <!-- end bricks -->


<!-- footer
================================================== -->
<footer>
    <div class="footer-main">

        <div class="row">

            <div class="col-four tab-full mob-full footer-info">

                <h4>About Our Site</h4>

                <p>
                    Lorem ipsum Ut velit dolor Ut labore id fugiat in ut fugiat nostrud qui in dolore commodo eu magna
                    Duis cillum dolor officia esse mollit proident Excepteur exercitation nulla. Lorem ipsum In
                    reprehenderit commodo aliqua irure labore.
                </p>

            </div> <!-- end footer-info -->

            <div class="col-two tab-1-3 mob-1-2 site-links">

                <h4>Site Links</h4>

                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>

            </div> <!-- end site-links -->

            <div class="col-two tab-1-3 mob-1-2 social-links">

                <h4>Social</h4>

                <ul>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Dribbble</a></li>
                    <li><a href="#">Google+</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>

            </div> <!-- end social links -->

            <div class="col-four tab-1-3 mob-full footer-subscribe">

                <h4>Subscribe</h4>

                <p>Keep yourself updated. Subscribe to our newsletter.</p>

                <div class="subscribe-form">

                    <form id="mc-form" class="group" novalidate="true">

                        <input type="email" value="" name="dEmail" class="email" id="mc-email"
                               placeholder="Type &amp; press enter" required="">

                        <input type="submit" name="subscribe">

                        <label for="mc-email" class="subscribe-message"></label>

                    </form>

                </div>

            </div> <!-- end subscribe -->

        </div> <!-- end row -->

    </div> <!-- end footer-main -->

    <div class="footer-bottom">
        <div class="row">

            <div class="col-twelve">
                <div class="copyright">
                    <span>Copyright &copy; 2017.Company name All rights reserved.</span>
                </div>

                <div id="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
                </div>
            </div>

        </div>
    </div> <!-- end footer-bottom -->

</footer>

<div id="preloader">
    <div id="loader"></div>
</div>
<!-- Java Script
================================================== -->
<script src="../mb739/js/jquery-2.1.3.min.js"></script>
<script src="../mb739/js/plugins.js"></script>
<!--	<script src="../mb739/js/jquery.appear.js"></script>-->
<script src="../mb739/js/pace.min.js"></script>
<script src="../mb739/js/modernizr.js"></script>
<script src="../mb739/js/main.js"></script>
<!--vue + element-->
<script src="../vue/vue.js"></script>
<script src="../element-ui/index.js"></script>
<script src="../axios/axios.min.js"></script>
<!--jquery-->
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    let app=new Vue({
        el:'#app',
        data:function () {
            return {
                dialogTableVisible:false,
                gridData: [{
                    id:"",
                    userId:'',
                    time: '2016-05-02',
                    content: '',
                    createTime: ''
                }]
            }
        },
        mounted(){

        },
        methods: {
            show(date){

                let s = '?time='+date
                axios
                .get("/person/personSchedule/time"+s)
                .then(res=>{
                    this.gridData=res.data;
                    this.dialogTableVisible=true;
                    console.log(res.data)
                })
            }
        }
    })
</script>
</body>

</html>